//====================================================================================================
.footer {

}

.footer__container {
	display: flex;
	align-items: center;
	gap: 12px;
	max-width: none;
}

.footer__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px 15px
}

.footer__inner .row {
	display: flex;
	gap: 12px;
	max-width: none;
}

.footer__col {
    max-width: none;
    align-items: flex-start;
	// слева — копирайт/политики
	&:nth-child(1) {
		flex: 1 1 0;
		min-width: 0;
	}

	// по центру — кнопка «ВВЕРХ»
	&:nth-child(2) {
		flex: 0 0 50px;
		width: 50px;
	}

	// справа — реквизиты
	&:nth-child(3) {
		flex: 1 1 0;
		min-width: 0;
	}

    .privacy-policy {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

}

@media (max-width: $mobile) {
	.footer__inner .row {
		flex-direction: column;
	}

	.footer__col {
		&:nth-child(2) {
			order: 1;
            flex: 0 0 auto;
            align-self: center;
		}

		&:nth-child(1) {
			order: 2;
            justify-content: flex-start;
		}

		&:nth-child(3) {
			order: 3;
            justify-content: flex-start;
		}
	}
}

.footer-text {
    font-style: normal;
	font-size: 12px;
	line-height: 18px;
	color: rgb(153, 153, 153);
}

.footer-contacts {
    line-height: 24px;
}

.footer-contacts a {
	color: inherit;
	text-decoration: underline;
}
//====================================================================================================
